@media (prefers-color-scheme: dark) {
  html { background:  #333; color: white; }
  html { background:  #1a1b26; color: white; }
  /* canvas { border: 0.2rem solid #c4c8da; } */
}

@media (prefers-color-scheme: light) {
  html { background:  white; color: #333; }
  canvas { border: medium solid #333; }
}

body {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  margin: 0;
}

canvas {
/* https://stackoverflow.com/questions/7615009/disable-interpolation-when-scaling-a-canvas
 * */
  image-rendering: pixelated;
  width: calc(min(100vw, 100vh) - 2 * 0.2rem);
  height: calc(min(100vw, 100vh) - 2 * 0.2rem);

  width: calc(min(100vw, 100vh));
  height: calc(min(100vw, 100vh));
}
