html, body { margin: 0; padding: 0; width: 100%; height: 100vh; }

.fullscreen {
	width: calc(100% - 8px);
	height: calc(100dvh - 8px);
	background-color: #000;
	border: 4px solid #0f0;
	display: block;
}

.centered-container {
	position: relative;
}

.centered-container > * {
	position: absolute;
	margin: auto;
	left: 0;
	right: 0;
	top: 0;
	bottom: 0;
}

.keep-aspect-ratio-16x9 {
	aspect-ratio: 16 / 9;
	max-width: calc(100% - 24px);
	max-height: calc(100dvh - 24px);
	background-color: #200;
	border: 4px solid #0ff;
	display: block;
}
